# Q1) LIST COMPREHENSIONS

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

# Q2) NESTED LISTS

In [ ]:
if __name__ == '__main__':
    list1 = []
    list2 = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        list1.append([name,score])
        list2.append(score)
            
    minScore = min(list2)
    while(minScore == min(list2)):
        del list1[(list2.index(min(list2)))]
        list2.remove(min(list2))
        
    newlist = []
    for i in list1:
        if(i[1] == min(list2)):
            newlist.append(i[0])
    print('\n'.join(sorted(newlist)))

# Q3) FIND THE PERCENTAGE

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    
    agg = sum([grade for grade in student_marks[query_name]])

    print('%.2f' %(agg/len(student_marks[query_name])))

# Q4) LISTS

In [ ]:
if __name__ == '__main__':
    N = int(input())
    ls = []
    for _ in range(N):
        cmd, *input_value = input().split()
        input_value = tuple(map(int, input_value))
        if cmd == "print":
            func = f"{cmd}(ls)"
        else:
            func = f"ls.{cmd}{input_value}"
        eval(func)

# Q5) TUPLES

In [ ]:
if __name__ == '__main__':
    n = int(input())
    int_list = [int(i) for i in input().split()]
    int_tuple = tuple(int_list)
    print(hash(int_tuple))

# Q6) NO IDEA!

In [ ]:
n,m = list(map(int, input().split()))
arr, a, b = list(map(int, input().split())), set(map(int, input().split())), set(map(int, input().split()))

x = set(arr) & a 
y = set(arr) & b
c = 0
for i in arr:
    if i in x: 
        c += 1
    elif i in y: 
        c -= 1

print(c)

# Q7) SYMMETRIC DIFFERENCE

In [ ]:
input()
a = set(map(int, input().split()))
input()
b = set(map(int, input().split()))

print(*sorted(a ^ b), sep='\n')

# Q8) SET.ADD()

In [ ]:
number = int(input())
lst = []
for i in range(number):
    enter = input()
    lst.append(enter)
    
resultado = len(set(lst))

print(resultado)

# Q9) Set .discard(), .remove() & .pop()

In [ ]:
n = int(input())
s = set(map(int, input().split()))

# Q10) Set .union() Operation

In [ ]:
input()
s = set(input().split())
input()
print(len(s.union(input().split())))

# Q11)Set .intersection() Operation

In [ ]:
input()
set1 = set(map(int, input().split()))
input()
set2 = set(map(int, input().split()))
print(len(set1 & set2))

# Q11)Set .difference() Operation

In [ ]:
input()
a = set(map(int, input().split()))
input()
b = set(map(int, input().split()))
print(len(a-b))

# Q12)Set .symmetric_difference() Operation

In [ ]:
input()
a = set(map(int, input().split()))
input()
b = set(map(int, input().split()))
print(len(a.symmetric_difference(b)))

# Q13) SET MUTATIONS

In [ ]:
input()
a = set(map(int, input().split()))

for _ in range(int(input())):
    name, *_ = input().split()
    getattr(a, name)(set(map(int, input().split())))

print(sum(a))

# Q14) The Captain's Room

In [ ]:
input()
seen_once, seen_again = set(), set()
for element in input().split():
    (seen_again if element in seen_once else seen_once).add(element)
print((seen_once - seen_again).pop())

# Q15) CHECK SUBSET

In [ ]:
t=int(input())
for i in range(t):
    l=[]
    l1=[]
    c=0
    n1=int(input())
    l=list(map(int,input().split()))
    n2=int(input())
    l1=list(map(int,input().split()))
    for i in l:
        if i in l1:
            c=c+1
    if c==len(l):
        print(True)
    else:
        print(False)

# Q16) Check Strict Superset

In [ ]:
A = set(input().split())
sup = True
for _ in range(int(input())):
    B = set(input().split())
    if not (A > B):
        sup = False
        break
print (sup)